Package: com.zqbb.kayoko
Name: Hello Kayoko
Version: 4.3
Architecture: iphoneos-arm
Description: A smarter clipboard experience that stays close whenever you need it.
Maintainer: zqbb
Author: 82Flex, zqbb
Section: zqbb Tweaks
Depends: firmware (>= 14.0), mobilesubstrate, preferenceloader, com.opa334.altlist
Conflicts: codes.aurora.kayoko, dev.traurige.kayoko, com.82flex.kayoko
Replaces: codes.aurora.kayoko, dev.traurige.kayoko, com.82flex.kayoko
Icon: https://apt.002599.xyz/web/icon/com.zqbb.kayoko.png
SileoDepiction: https://apt.002599.xyz/web/com.zqbb.kayoko
