Package: codes.aurora.kayoko
Name: Kayoko
Version: 3.1
Architecture: iphoneos-arm
Description: Clipboard manager for iOS.
Maintainer: Lessica <82flex@gmail.com>
Author: Alexandra Aurora Göttlicher
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate, preferenceloader, com.opa334.libsandy
