<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>Enable</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>RichImageText</string>
			<key>label</key>
			<string>Images &amp; Rich Text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>AutoPaste</string>
			<key>label</key>
			<string>Auto Paste</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Open CopyLog</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>KeyboardSwipeUp</string>
			<key>label</key>
			<string>Keyboard Swipe Up</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>External</string>
			<key>label</key>
			<string>⌘⇧V External Keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>Selection</string>
			<key>label</key>
			<string>Selection Menu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>DictateButton</string>
			<key>label</key>
			<string>Dictate Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>ToolBar</string>
			<key>label</key>
			<string>iPad ToolBar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Copy feedback</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>Sound</string>
			<key>label</key>
			<string>Sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>CopyNotificationsNew</string>
			<key>label</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Snippets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>SliderController</string>
			<key>key</key>
			<string>MaxSnippets</string>
			<key>label</key>
			<string>Max Snippets</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.tomt000.copylog.showView</string>
			<key>action</key>
			<string>open</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View Snippets</string>
		</dict>
		<dict>
			<key>action</key>
			<string>clear</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>confirmation</key>
			<dict>
				<key>cancelTitle</key>
				<string>Cancel</string>
				<key>okTitle</key>
				<string>Ok</string>
				<key>prompt</key>
				<string>Are you sure you want to clear all your snippet history? Favorite Snippets won't be deleted.</string>
				<key>title</key>
				<string>Clear All History</string>
			</dict>
			<key>label</key>
			<string>Clear Snippet History</string>
		</dict>
		<dict>
			<key>action</key>
			<string>clearFav</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>confirmation</key>
			<dict>
				<key>cancelTitle</key>
				<string>Cancel</string>
				<key>okTitle</key>
				<string>Ok</string>
				<key>prompt</key>
				<string>Are you sure you want to clear all your favorite snippet history? Normal Snippets won't be deleted.</string>
				<key>title</key>
				<string>Clear All Favorite History</string>
			</dict>
			<key>label</key>
			<string>Clear Favorite Snippets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>key</key>
			<string>KeepFavoriteState</string>
			<key>label</key>
			<string>Open to favorites</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>action</key>
			<string>blacklist</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Application BlackList</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>me.tomt000.copylog</string>
			<key>detail</key>
			<string>CPLAdvancedListController</string>
			<key>label</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This tweak is End-of-Life and no longer maintained. You can still follow me on X.</string>
			<key>label</key>
			<string>Dev's socials</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Follow @tomt000 on X!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>CopyLog  —  Copyright @tomt000 2019-2024</string>
		</dict>
	</array>
	<key>title</key>
	<string>CopyLog</string>
</dict>
</plist>
