<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>启用Kayoko</string>
            <key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>历史</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>最大保留</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>200</real>
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>MaximumHistoryAmount</string>
			<key>min</key>
			<real>50</real>
			<key>max</key>
			<real>500</real>
			<key>showValue</key>
			<true />
			<key>isSegmented</key>
			<true />
			<key>segmentCount</key>
			<real>9</real>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>SaveText</string>
			<key>label</key>
			<string>保存文本</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>SaveImages</string>
			<key>label</key>
			<string>保存图像</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>行为</string>
			<key>footerText</key>
			<string>"预测栏"方法在"更多键盘键位"（123）上显示自定义建议。</string>
			<key>isStaticText</key>
			<true />
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>label</key>
			<string>激活方法:</string>
			<key>key</key>
			<string>ActivationMethod</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>预测栏</string>
				<string>听写键</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>AutomaticallyPaste</string>
			<key>label</key>
			<string>自动粘贴</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>附加功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>AddSongDotLinkOption</string>
			<key>label</key>
			<string>添加跳转链接选项</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>AddTranslateOption</string>
			<key>label</key>
			<string>添加翻译选项</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>注销</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>重置选项</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Alexandra Aurora Göttlicher制作</string>
			<key>isStaticText</key>
			<true />
		</dict>
		<dict>
			<key>cellClass</key>
			<string>LinkCell</string>
			<key>label</key>
			<string>源代码</string>
			<key>subtitle</key>
			<string>在GitHub查看它。</string>
			<key>url</key>
			<string>https://github.com/vyolit/Kayoko</string>
			<key>height</key>
			<integer>54</integer>
		</dict>
	</array>
	<key>title</key>
	<string>Kayoko</string>
</dict>
</plist>
